spring:
  application:
    name: flowforge
  datasource:
    url: jdbc:postgresql://localhost:5432/flowforge
    username: flowforge_user
    password: root
    jpa:
      hibernate:
        ddl-auto: validate
      show-sql: true
      properties:
        hibernate:
          format_sql: true
    flyway:
      enabled: true
      locations: classpath:db/migration

  server:
    port: 8080
